.App {
  /* text-align: center; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}
.form-control{
  width: 50%;
  margin: 0 auto;
}
.App-link {
  color: #61dafb;
}
.spinner-border{
  width: 3rem;
  height: 3rem;
}

.card-body{
  max-height: 100%;
  /* margin: 100px; */
}
.card .movCard{
  max-width: 200px;
  max-height: 300px;
  margin-bottom: 15px;
}
.contain {
  padding-bottom: 20px;
}
.load{
  margin: 200px 0;
}
.film{
  margin-top: 50px;
}
.lead{
  margin: 20px auto;
  font-size: 40px;
}